.form_container {
  display: flex;
  justify-content: center;
}

.form_container form {
  padding: 1.5rem;
  margin-top: 6rem;
  width: 40%;
  border: 1px solid lightgrey;
}

.bootstrap_alert {
  height: 2.5rem;
  display: flex;
  align-items: center;
}
